.all {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
.pic {
    justify-items: center;
    min-height: 640px;
    width: 35%;
    background-color: rgb(55, 209, 55);
    color: white;
}
.main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    min-height: 100%;
    width: 60%;
}
.title {
    height: 30%;
}
.subtitle {
    height: 20%;
}
.content {
    display: flex;
    flex-flow: row nowrap;
    height: 50%;
    justify-content: space-between;
    padding-top: 20px;
}
#title {
    background-color: aqua;
    color: white;
    padding: 5px;
}
#button {
    background-color: aqua;
    color: white;
    font-size: medium;
    font-weight: bolder;
    width: fit-content;
    padding: 10px 20px;
}
ul {
    justify-content: space-evenly;
}
ul li {
    padding-bottom: 15px;
}
p {
    color: grey;
    font-size: 15px;
    padding-top: 5px;
}